automated_workflows/n8n.json
{
  "name": "Constitution PDF to CSV (CloudConvert)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "https://api.cloudconvert.com/v2/jobs",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiM2NlNjdjNmEzYzAxYmY5NTE3Yjc2NWRkZjRhODc3NjBkNTM3OTA3ZWUzN2Y4NTE1MjkyYjFhOGI2MGQ4OWVlMGJlMzQwNDE4YTY2ZDRiZWEiLCJpYXQiOjE3NjEzMTg1OTcuNDY0MDE1LCJuYmYiOjE3NjEzMTg1OTcuNDY0MDE3LCJleHAiOjQ5MTY5OTIxOTcuNDU3NjIsInN1YiI6IjczMjgwNzE2Iiwic2NvcGVzIjpbInVzZXIucmVhZCIsInVzZXIud3JpdGUiLCJ0YXNrLnJlYWQiLCJ0YXNrLndyaXRlIiwid2ViaG9vay5yZWFkIiwid2ViaG9vay53cml0ZSIsInByZXNldC5yZWFkIiwicHJlc2V0LndyaXRlIl19.cpcmxeiYdcAJorAvFGg18-4Zk3OErLM8Ih5JIk6bY80SIJa2ivfaB1LwF7FnS2RQBp9B9WxCKc2hdu3ZB_cboHPM0T4iK-nFsRAWvHPYEUFQfm1F879Ax7coL4UX3wACwUCS0OBgZz1HYnEzDrhLyUjJJ9K-ANXXHoHEE9OBgKZo4xcvl5B3sj2CfFkM6E3K45RgsbtLzEEz2BpKqh0ca6DixERqT-FDmr3j2LvXdle1VqtVIX8C_B3KgyFEhyNh_VVFAwUu-ZeZgebErXg4R0ipFBFdmODY6sdKgT4dXitsUxayDcYtP6lsIOxHcT0wDeCSRA3QRj7HlFWEJmSQQie8L8XeAn_8MxqvbJ1LAwiw5uXV9hd07u3lyyKK8FgEMROzcsgcCZQB1Gkbu2o87_xZKGj0ePt0cUvvM-ab_8yHEyttQJcdP9lHA7AYlNQ8ltmjkqH6qpD1OZ3HetQdIB-Fz00EpEGcOqJ3PfKpcg0zUUUjo2Mtp-S58HqQoHhDfKjh5uUS1mpACKcrX9q_20pAsoOkJawFW3K9KM7TUVNC75zuU0ram4Th51aVNMnkeVwd3h1u8rZV_Zy78sGYYiDqJJKGW5hpXj_Btbm0GmoMUTU8nyFPZsAeZYtXOqvHknXnp0iUqAtPit0K7XmIJYN75ssWld0uc9H_wbb9KMY"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyParametersJson": {
          "tasks": {
            "import-my-file": {
              "operation": "import/url",
              "url": "https://cdnbbsr.s3waas.gov.in/s380537a945c7aaa788ccfcdf1b99b5d8f/uploads/2024/07/20240716890312078.pdf"
            },
            "convert-my-file": {
              "operation": "convert",
              "input": "import-my-file",
              "input_format": "pdf",
              "output_format": "txt"
            },
            "export-my-file": {
              "operation": "export/url",
              "input": "convert-my-file"
            }
          }
        }
      },
      "name": "CloudConvert PDF to Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "const exportUrl = $node['CloudConvert PDF to Text'].json.tasks.export_my_file.result.files[0].url;\nreturn [{ json: { download_url: exportUrl } }];"
      },
      "name": "Get TXT URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "={{$node[\"Get TXT URL\"].json.download_url}}",
        "method": "GET",
        "options": {},
        "jsonParameters": false
      },
      "name": "Download TXT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "functionCode": "const text = $node['Download TXT'].binary.data.toString();\nconst articles = [];\nconst regex = /Article\\s+(\\d+)\\.\\s*(.+)/gi;\nlet match;\nlet lastIndex = 0;\nlet lastArticle = null;\n\nwhile ((match = regex.exec(text)) !== null) {\n  if (lastArticle) {\n    lastArticle.content = text.substring(lastIndex, match.index).trim();\n    articles.push(lastArticle);\n  }\n  lastArticle = {\n    id_number_of_the_article: match[1],\n    name_of_the_article: match[2],\n    content_of_the_article: ''\n  };\n  lastIndex = match.index + match[0].length;\n}\nif (lastArticle) {\n  lastArticle.content = text.substring(lastIndex).trim();\n  articles.push(lastArticle);\n}\nreturn articles.map(a => ({ json: a }));"
      },
      "name": "Parse Articles",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "options": {},
        "binaryData": false,
        "fileFormat": "csv",
        "fileName": "constitution_articles.csv"
      },
      "name": "Convert to CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "CloudConvert PDF to Text", "type": "main", "index": 0 }]
      ]
    },
    "CloudConvert PDF to Text": {
      "main": [[{ "node": "Get TXT URL", "type": "main", "index": 0 }]]
    },
    "Get TXT URL": {
      "main": [[{ "node": "Download TXT", "type": "main", "index": 0 }]]
    },
    "Download TXT": {
      "main": [[{ "node": "Parse Articles", "type": "main", "index": 0 }]]
    },
    "Parse Articles": {
      "main": [[{ "node": "Convert to CSV", "type": "main", "index": 0 }]]
    }
  }
}
